<%= form_with(model: employee, local: true) do |form| %>
  

  <div class="field form-group">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "form-control", required: "true"%>
  </div>

  <div class="field form-group">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "form-control", required: "true" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", required: "true", type: "email" %>
  </div>
  <% if employee.errors.any? %>
  <div id="error_explanation">
    <!-- <h2><%= pluralize(employee.errors.count, "error") %></h2> -->

    <ul style="color: red;">
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="actions">
    <%= form.submit 'DONE', class:"btn btn-info" %>
  </div>
<% end %>
